<div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <form action="/answer">
            <h1 class="text-center">Coach Assistant</h1>
            <div class="form-group">
              <label for="question"></label>
              <input type="text" class="form-control" name="question" placeholder="Ask anything">
            </div>
            <div>
              <input type="submit" value="Ask!" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
